*.suo
*.user
_ReSharper.*
bin
obj
packages
node_modules
.vs
build
Migrations
node_modules/**/*

# expo
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# don't commit secrets
secrets.yml

# don't commit database backup
*.bak